*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/*HOME PAGE*/
header{
    padding: 10px;
    background-image: url(//i.postimg.cc/N0tNV7Q6/images-3.jpg);
    /*background-color: olivedrab;*/
}

body{
    padding: 10px;
    /*background-color: rgb(144, 197, 38);*/
}

a, a:hover{
    text-decoration: none;
    color: white;
}
a, a:link{
    color: white;
    font-size: 25px;
}

.logo h1{
    color: white;
}
.logo img{
    width: 100px;
    height: 100px;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

nav{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    text-decoration: none;
    color: black;
}

.logo{
    flex: 1;
}

 h1{
    display: inline;
    align-items: center;
    font-size: 50px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 10px 10px;
    font-size: 20px;
}

.toggle{
    font-size: 30px;
    display: none;
}

@media screen and (max-width:600px){
    nav{
        display: block;
        position: relative;
        padding: 20px 20px;
    }
}

/*Main Home Section*/
.container h2{
    text-align: center;

}
.featured-artist{
    display: flex;
    padding: 15px;
}

.featured-artist p{
    display: flex;
    align-items: center;
}

.featured-artist h3{
    
}
.featured-artwork{
    display: flex;
    padding: 15px;
    align-items: center;
}

.container img{
    width: 300px;
    height: 350px;
}
/*.head{
    display:flex;
}
.navbar{
    display: inline;
}*/

footer{
    text-align: center;
    height: 20px;
}

main{
    display: grid;
    grid-template-rows: auto 100vw auto;
}

/*ABOUT*/
/*.about-us h1{
    padding: 10px;
    text-align: center;
}*/
.about-body h2{
    text-align: center;
    padding: 20px;
    font-size: 50px;

}
.about-us-main{
    text-align: center;
    padding: 50px;

}
.about-us-main p{
    font-size: 25px;
    padding: 10px;
    word-spacing: 5px;

}
/*PRODUCTS*/
.paint {
        display: flex;
        justify-content: space-between;
}

.paint-brushes{
    display: flex;
    justify-content: space-between;
}

.products-title{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}
.button-wrapper {
    justify-content: space-between;
}
.button-wrapper button {
    border: 1px solid;
    padding: 2px;
}

.product-container img{
        height: 200px;
        width: 180px;
}
/*ADMIN*/
/*CONTACT*/
.contact-us-main{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    font-size: 20px;
}
.contact-us-title{
    text-align: center;
    font-size: 50px;
}